<div class="side-navbar">
  <ul>
    <li>
      <a href="/admin/view-officers/{{orgId}}" title="View Officers">
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M16 2.66669C8.64 2.66669 2.66667 8.64002 2.66667 16C2.66667 23.36 8.64 29.3334 16 29.3334C23.36 29.3334 29.3333 23.36 29.3333 16C29.3333 8.64002 23.36 2.66669 16 2.66669ZM16.68 13.32C16.68 11.12 14.88 9.32002 12.68 9.32002C10.48 9.32002 8.68 11.12 8.68 13.32C8.68 15.52 10.48 17.32 12.68 17.32C14.88 17.32 16.68 15.52 16.68 13.32ZM12.68 14.6533C11.9467 14.6533 11.3467 14.0533 11.3467 13.32C11.3467 12.5867 11.9467 11.9867 12.68 11.9867C13.4133 11.9867 14.0133 12.5867 14.0133 13.32C14.0133 14.0533 13.4133 14.6533 12.68 14.6533ZM24.0133 14.6533C24.0133 16.1333 22.8267 17.32 21.3467 17.32C19.8667 17.32 18.68 16.1333 18.68 14.6533C18.6667 13.1733 19.8667 11.9867 21.3467 11.9867C22.8267 11.9867 24.0133 13.1733 24.0133 14.6533ZM12.68 21.3334C10.8267 21.3334 8.70667 22.0934 7.8 22.8134C9.62667 25.0134 12.32 26.4534 15.3467 26.6267V22.92C15.3467 20.4 19.32 19.32 21.3467 19.32C22.52 19.32 24.3333 19.6933 25.6667 20.48C26.3067 19.1067 26.6667 17.5867 26.6667 15.9867C26.6667 10.1067 21.88 5.32002 16 5.32002C10.12 5.32002 5.33333 10.1067 5.33333 15.9867C5.33333 17.6267 5.70667 19.1734 6.37333 20.56C8.16 19.2534 10.9467 18.6534 12.68 18.6534C13.2667 18.6534 13.9733 18.7334 14.72 18.8667C13.88 19.6267 13.3067 20.4934 12.9867 21.3467C12.9316 21.3467 12.8764 21.3431 12.8232 21.3397C12.7733 21.3365 12.7251 21.3334 12.68 21.3334Z" fill="#F2F2F2"/>
        </svg>
        <span class="helper">View Officers</span>
      </a>
    </li>
    <li>
      <a href="/admin/ad-eventreg/{{orgId}}" title="Register an Event">
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M24 5.33335H25.3333C26.8 5.33335 28 6.53335 28 8.00002V26.6667C28 28.1334 26.8 29.3334 25.3333 29.3334H6.66667C5.2 29.3334 4 28.1334 4 26.6667V8.00002C4 6.53335 5.2 5.33335 6.66667 5.33335H8V2.66669H10.6667V5.33335H21.3333V2.66669H24V5.33335ZM6.66667 26.6667H25.3333V13.3334H6.66667V26.6667ZM6.66667 10.6667V8.00002H25.3333V10.6667H6.66667ZM21.9867 16.7067L14.08 24.6134L9.85334 20.3867L11.2667 18.9734L14.08 21.7867L20.5733 15.2934L21.9867 16.7067Z" fill="#F2F2F2"/>
        </svg>
         <span class="helper">Register an Event</span>
      </a>
    </li>
    <li>
      <a href="/admin/eventlist/{{orgId}}" title="Edit an Event">
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M18.6667 6.66665C18.6667 8.13331 17.48 9.33331 16 9.33331C14.5333 9.33331 13.3333 8.13331 13.3333 6.66665C13.3333 6.15998 13.4667 5.69331 13.72 5.29331L16 1.33331L18.28 5.29331C18.5333 5.69331 18.6667 6.15998 18.6667 6.66665ZM17.3333 13.3333H24C26.2133 13.3333 28 15.12 28 17.3333V29.3333C28 30.0666 27.4 30.6666 26.6667 30.6666H5.33333C4.6 30.6666 4 30.0666 4 29.3333V17.3333C4 15.12 5.78667 13.3333 8 13.3333H14.6667V10.6666H17.3333V13.3333ZM6.66667 28V24C7.86667 23.9867 9.01333 23.5067 9.86667 22.6533L11.32 21.2267L12.7467 22.6533C14.4933 24.4 17.5333 24.3867 19.2667 22.6533L20.7067 21.2267L22.1333 22.6533C22.9867 23.5067 24.1333 23.9867 25.3333 24V28H6.66667ZM23.5333 21.24C24.0133 21.7333 24.6533 21.9866 25.3333 22V17.3333C25.3333 16.6 24.7333 16 24 16H8C7.26667 16 6.66667 16.6 6.66667 17.3333V22C7.34667 21.9866 7.98667 21.72 8.45333 21.24L11.3067 18.4L14.1467 21.24C15.1333 22.2266 16.8533 22.2266 17.84 21.24L20.6933 18.4L23.5333 21.24Z" fill="#F2F2F2"/>
        </svg>
        <span class="helper">Edit an Event</span>
      </a>
    </li>
    <li>
      <a href="/admin/member-requests/{{orgId}}" title="View Member Requests">
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M16 16C18.5733 16 20.6667 13.9067 20.6667 11.3334C20.6667 8.76002 18.5733 6.66669 16 6.66669C13.4267 6.66669 11.3333 8.76002 11.3333 11.3334C11.3333 13.9067 13.4267 16 16 16ZM6.66667 20V16H10.6667V13.3334H6.66667V9.33335H4V13.3334H0V16H4V20H6.66667ZM16 18.3334C12.88 18.3334 6.66667 19.8934 6.66667 23V25.3334H25.3333V23C25.3333 19.8934 19.12 18.3334 16 18.3334ZM16 21C13.6133 21 10.9067 21.8934 9.78666 22.6667H22.2133C21.0933 21.8934 18.3867 21 16 21ZM18 11.3334C18 10.2267 17.1067 9.33335 16 9.33335C14.8933 9.33335 14 10.2267 14 11.3334C14 12.44 14.8933 13.3334 16 13.3334C17.1067 13.3334 18 12.44 18 11.3334ZM22.6667 16C25.24 16 27.3333 13.9067 27.3333 11.3334C27.3333 8.76002 25.24 6.66669 22.6667 6.66669C22.3467 6.66669 22.0267 6.69335 21.72 6.76002C22.7333 8.01335 23.3333 9.60002 23.3333 11.3334C23.3333 13.0667 22.7067 14.64 21.6933 15.8934C22.0133 15.96 22.3333 16 22.6667 16ZM28 23C28 21.1867 27.0933 19.7734 25.76 18.6934C28.7466 19.32 32 20.7467 32 23V25.3334H28V23Z" fill="#F2F2F2"/>
        </svg>
        <span class="helper">View Requests</span>
      </a>
    </li>
    <li>
      <a href="/admin/editorg/{{orgId}}" title="Edit Organization">
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.33334 2.66669H26.6667C28.1333 2.66669 29.3333 3.86669 29.3333 5.33335V21.3334C29.3333 22.8 28.1333 24 26.6667 24H8.00001L2.66667 29.3334L2.68001 5.33335C2.68001 3.86669 3.86667 2.66669 5.33334 2.66669ZM6.89334 21.3334H26.6667V5.33335H5.33334V22.8934L6.10667 22.12L6.89334 21.3334ZM14 18.6667H24V16H16.6667L14 18.6667ZM19.1467 9.89335C19.4133 10.16 19.4133 10.5734 19.1467 10.84L11.2933 18.6667H8V15.3734L15.84 7.53335C16.1067 7.26669 16.52 7.26669 16.7867 7.53335L19.1467 9.89335Z" fill="#F2F2F2"/>
        </svg>
        <span class="helper">Edit Organization</span>
      </a>
    </li>
  </ul>
</div>