<div class="side-navbar">
  <ul>
    <li><a href="/admin/view-officers/{{orgId}}"> Home</a></li>
    <li><a href="/admin/ad-eventreg/{{orgId}}"> Quote </a></li>
    <li><a href="/admin/eventlist/{{orgId}}">Contact </a></li>
    <li><a href="/admin/member-requests/{{orgId}}"> Quote </a></li>
    <li><a href="/admin/editorg/{{orgId}}"> Quote </a></li>
  </ul>
</div>