{{#section 'head'}}
    <!-- CSS -->
    <link rel="stylesheet" href="/public/css/styling.css">
    <link rel="stylesheet" href="/public/css/explore.css">
    <link rel="stylesheet" href="/public/css/form.css">
    <!-- JS -->
    <script src="/scripts/request.js"></script>
    <script src="../../scripts/landing.js"></script>
{{/section}}

<div class="container">

    <!-- Edit Header -->
    <header class="edit-hdr">
        {{#if user.img includeZero=true}}
            <img class="hdr-pic" src="{{user.img}}">
        {{else}}
            <img class="hdr-pic" src="../../public/assets/profiles/nook-pic.png">
        {{/if}}
        <di style="font-size: 32px;"v>
            <span class="page-title" id="user-name">{{user.first_name}} {{user.last_name}}</span>
            /
            <span class="page-title">Edit Profile</span>
            <p class="hdr-desc">Setup your Nook user account</p>
        </div>
    </header>

    <!-- Form -->
    <form name = "edit_profile" method = "POST" action = '/edit-profile' enctype="multipart/form-data">
    <div class="inner-box" style="justify-content: center;">
        <div class="left-box">
                <div class="frm-height contact-form">
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>First Name</label>
                                <input type="text" class="invalid-field" id="user-fname-field" value="{{user.first_name}}" name = "edit_fname" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" class="invalid-field" id="user-lname-field" value="{{user.last_name}}" name = "edit_lname" required>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label>Email Address</label>
                        <div class="input-group date", id = 'datetimepicker4' data-target-input ="nearest">
                            <input type="email" class="form-control datetimepicker-input" id="user-email-field" value="{{user.email_address}}" name = "edit_email" required>
                        </div>
                    </div>
                
                    <div class="form-group">
                        <label>Profile Bio </label>
                        <div class='input-group date' id="event-about-field">
                            <textarea name = "edit_bio" type='text' class="form-control" id="user-bio-field">{{user.short_bio}}</textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Change Profile Picture </label>
                        <div class="custom-file">
                            <input type="file" class="form-control custom-file-input" id="user-photo-field" name = "edit_pic" accept = ".jpg, .jpeg, png" id = "inputGroupFile02" onchange="validateFileType()">
                             <label class="custom-file-label" for = "inputGroupFile02">Choose</label>
                        </div>
                    </div>
                    <button type="submit" id="submit-event" class="custombtn thinbtn mt-0">Save</button>
                </div>
            </div>
    </form>
            <div class="right-box">
                <div class="frm-height contact-form">
                    <h4 class="mb-3">Pending Requests</h4>
                    <div id="request-list">
                        {{#if requests includeZero=true}}
                        {{#each requests}}
                        <div class="row request-item" id="request-{{this._id}}">
                            <span class="col-9 request-org-cell">
                                <img class="hdr-pic request-org-pic" src="{{this.img}}">
                                <span>
                                    <p class="request-org-name">{{this.org_id.org_name}}</p>
                                    <p class="request-position mb-0">{{this.position}}</p>
                                </span>
                            </span>
                            <div class="col-3 cancel-req">
                                <button style="color:red; border:0px; background-color:white" class="cancel" data-id="{{this._id}}">Cancel</button>
                            </div>
                        </div>
                        {{/each}}
                        {{/if}}
                        <!-- For Adding Requests-->
                        <a href="#" data-toggle="modal" data-target="#add-request-modal">
                            <div class="request-item add-request">
                                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M2.66666 16C2.66666 8.64002 8.64 2.66669 16 2.66669C23.36 2.66669 29.3333 8.64002 29.3333 16C29.3333 23.36 23.36 29.3334 16 29.3334C8.64 29.3334 2.66666 23.36 2.66666 16ZM17.3333 17.3334H22.6667V14.6667H17.3333V9.33335H14.6667V14.6667H9.33333V17.3334H14.6667V22.6667H17.3333V17.3334Z" fill="#474747"/>
                                    </svg>
                                                                            
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Request Modal -->
<section class="modal fade" role="dialog" id="add-request-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="box modal-content">
            <div class="inner-box">
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
                <div class="modal-right">
                    <header>
                        <h5 class="modal-title mb-3" style="font-size: 30px;">Add an Organization</h5>
                    </header>
                    <!-- Add Request Form -->
                    <div class="modal-body">
                        <form id ="create-request-form" autocomplete="off" method='POST' action='/edit-profile/create-request'>                       
                            <div class = "form-group ui-widget" id="select-org">
                                <label for="org-list"> Organization Name</label>
                                <input class="form-control" id="org-name-field">
                            </div>
                            <div class="form-group mb-2">
                                <label for="reg-email">Position</label>
                                <input type="text" class="form-control" id="req-position" name = "req_org_position">
                            </div>
                            <button type="submit" id="add-req-btn" class="custombtn thinbtn mt-3 mb-0" style="justify-content: center;">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>