{{#section 'head'}}
 <!-- CSS -->
    <link rel="stylesheet" href="../../public/css/style.css">
{{/section}}
   
<div class="container inner-box">
    <div id="account-details">
        <div class="profile">
            <img src="{{org_id.0.org_logo}}">
            <h1>{{org_id.0.org_name}}</h1>
            {{#each org_id}}
            <ul>
                <li>{{this.tags}}</li>
            </ul>
            {{/each}}
            <div class="profile-info">
                <a href="member-requests">
                    <h3>{{org_id.0.no_of_members}}</h3>
                    <p>Members</p>
                </a>
                <a href="view-officers">
                    <h3>{{org_id.0.no_of_officers}}</h3>
                    <p>Officers</p>
                </a>
            </div>
        </div>
    </div>

    <div class="box mt-4" style="background-color: #7c3bff1f;">
        <h1>Member Requests</h1>
        <div class="information" id="request-list">
        {{#if user_id}}
        {{#each user_id}}
        <a class="requests" hrf={{this._id}}>
            <img class="prof-pic" src="{{this.photo}}">
            <span>
                <span class="member-name">{{this.first_name}} {{this.last_name}}</span>
                <p>{{this.position}}</p>
            </span>
            <div class="button-group">
                <button type="button" class="reqbtn check">
                    <img src="../assets/accept.png">
                </button>
                <button type="button" class="reqbtn reject">
                    <img src="../assets/reject.png">             
                </button>       
            </div>
        </a>
       {{/each}}
       {{else}}
        <p> No requests yet.</p>
    {{/if}}
    </div>
</div>
