{{#section 'head'}}
    <!-- CSS -->    
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/sidenav.css">
    <!-- JS -->
    <script src="/scripts/request.js"></script>
{{/section}}

{{>sidebar orgId=org._id}}
   
<div class="container inner-box">
    <div id="account-details">
        <div class="profile">
            <img src="{{org.img}}">
            <h1>{{org.org_name}}</h1>
            <ul>
                 {{#each org.tags}}
                <li>{{this}}</li>
                 {{/each}}
            </ul>
            <div class="profile-info">
                <a href="member-requests">
                    <h3>{{org.no_of_members}}</h3>
                    <p>Members</p>
                </a>
                <a href="view-officers">
                    <h3>{{org.no_of_officers}}</h3>
                    <p>Officers</p>
                </a>
            </div>
        </div>
    </div>

    <div class="box mt-4">
        <h1 class="page-title">Member Requests</h1>
        <div class="information" id="request-list">
        {{#if reqs}}
        {{#each reqs}}
        <div class="requests" id="{{this._id}}">
            <a class="request-info" href="/user-profile/{{this.user_id._id}}">
                <img class="prof-pic" src="{{this.img}}">
                <div style="width:112px;">
                    <span class="member-name">{{this.user_id.first_name}} {{this.user_id.last_name}}</span>
                    <p>{{this.position}}</p>
                </div>
            </a>
            <div class="button-group">
                <button type="button" class="reqbtn check" data-id="{{this._id}}">
                    <img src="/public/assets/accept.png">
                </button>
                <button type="button" class="reqbtn reject" data-id="{{this._id}}">
                    <img src="/public/assets/reject.png">             
                </button>       
            </div>
        </div>
       {{/each}}
       {{else}}
        <p> No requests yet.</p>
    {{/if}}
    </div>
</div>
