{{#section 'head'}}
    <!-- CSS -->
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="../../public/css/cards.css">
{{/section}}

<div class="container inner-box">
    <div class="mt-4" id="account-details">
       <div class="profile">
            {{#if image includeZero=true}}
                <img src="{{image}}">
            {{else}}
                <img src="/public/assets/profiles/nook-pic.png">
            {{/if}}
            {{#if user}}
            <h1>{{user.first_name}} {{user.last_name}}</h1>
            <p>{{user.short_bio}}</p>
            <h2>{{user.email_address}}</h2>
            {{else}}
            <h2>hhuuh</h2>
            {{/if}}
        </div>
    </div>
    <div class="box mt-4" style="background-color: #7c3bff1f;">
        <div class="mb-3 ml-2 card-menu" id="user-event-list">
            <h1 style="width: 100%;"> My Events</h1>
            {{#if events includeZero=true}}
            {{#each events}}
            <div class="month-group">
                <h5 class="month-label">{{this.monthyear}}</h5>
                <div class="card-wrapper information">            
                {{#each entries}}
                <div class="card">
                    <a href="/viewevent/{{this._id}}">
                        <img class="card-img-top img-fluid" src="{{this.img}}">
                        <div class="card-body">
                            <span>{{this.event_name}}</span>
                        </div>
                    </a>
                </div>
                {{/each}}
                </div>
            </div>
            {{/each}}
            {{else}}
            <p>No plans yet.</p>
            {{/if}}
        </div>
    </div>
</div>
