{{#section 'head'}}
<!-- CSS -->
    <link rel="stylesheet" href="../../public/css/style.css">
    <link rel="stylesheet" href="/public/css/sidenav.css">
{{/section}}

{{>sidebar orgId=org_data._id}}
    
<div class="container inner-box">
    <div id="account-details">
        <div class="profile">
            <img src="{{org_data.img}}">
            <h1 id="org-name">{{org_data.org_name}}</h1>
            <ul id="org-tags">
            {{#each org_data.0.tags}}
                <li>{{this}}</li>
            {{/each}}
            </ul>
            <div class="profile-info">
                <div href="member-requests">
                    <h3 id="member-count">{{org_data.no_of_members}}</h3>
                    <p>Members</p>
                </div>
                <div>
                    <h3 id="officer-count">{{org_data.no_of_officers}}</h3>
                    <p>Officers</p>
                </div>
                <div>
                    <h3 id="officer-count">{{formatToYear org_data.date_established}}</h3>
                    <p>Year Established</p>
                </div>
            </div>
        </div>
    </div>
    <div class="box mt-4">
        <h1 class="page-title" >Officers</h1>
        <div class="information card-wrapper" id="officer-list">
        {{#if officers}}
        {{#each officers}}
            <div class="officer">
                {{#if this.isUser}}
                    <a href="/user-profile">
                {{else}}
                <a href="/user-profile/{{this._id}}">
                {{/if}}
                    <img src="{{this.img}}">
                    <h1>{{this.first_name}} {{this.last_name}}</h1>
                    <p>{{this.orgs.0.position}}</p>
                </a>
            </div>
        {{/each}}
        {{else}}
            <p>No officers yet.</p>
        {{/if}}
        </div>
    </div>
</div>
