{{#section 'head'}}
<!-- CSS -->
    <link rel="stylesheet" href="../../public/css/style.css">
{{/section}}
    
<div class="container inner-box">
    <div id="account-details">
        <div class="profile">
            <img src="{{org_logo}}">
            <h1 id="org-name">{{org_name}}</h1>
            {{#each tags}}
            <ul id="org-tags">
                <li>{{this}}</li>
            </ul>
            {{/each}}
            <div class="profile-info">
                <div href="member-requests">
                    <h3 id="member-count">{{no_of_members}}</h3>
                    <p>Members</p>
                </div>
                <div>
                    <h3 id="officer-count">{{no_of_officers}}</h3>
                    <p>Officers</p>
                </div>
                <div>
                    <h3 id="officer-count">{{formatToYear date_established}}</h3>
                    <p>Year Established</p>
                </div>
            </div>
        </div>
    </div>
    <div class="box mt-4" style="background-color: #f0f0f0;">
        <h5 class="mb-3 ml-2" >Officers</h5>
        <div class="information card-wrapper" id="officer-list">
        {{#each officers}}
            <div class="officer">
                <a href="/user-profile/{{this._id}}">
                    <img src="{{this.photo}}">
                    <h1>{{this.first_name}} {{this.last_name}}</h1>
                    <p>{{this.position}}</p>
                </a>
            </div>
        {{/each}}
        </div>
    </div>
</div>
